.bg-header {
  background: #181c32;
}

nav div {
  min-height: 80px;
}

.a-icon:hover {
  background: #6b6a6a;
}
.a-icon:hover i {
  color: #e2dfdf !important;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 97;
  height: 77px;
}

.nav-color {
  color: #adb1c7 !important;
}

.creat-btn {
  color: #fff;
  background-color: #0bb783;
  border-color: #0bb783;
}

.logo {
  width: 100%;
  max-width: 450px;
}

.nav-link {
  color: #adb1c7 !important;
}

.divider {
  height: 40px;
  width: 0.1px;
}

.sec-1 h4,
.sec-1 h2 {
  cursor: pointer;
}

h4:hover {
  color: #0bb783 !important;
}
h4::after {
  color: #0bb783 !important;
}

.subheader {
  overflow: scroll;
  margin-top: 80px;
}

.subheader-span {
  width: 220px;
}

body {
  background: #cceef2;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
}

.bg-light-success {
  color: #0bb783;
  background-color: #d7f9ef;
}

.progress {
  width: 250px;
  height: 10px;
}

.next-page,
.previous-page {
  color: #0bb783;
  background-color: #d7f9ef !important;
}

.page-link {
  background: #d7f9ef;
  border-radius: 10px !important;
  color: black !important;
}
.page-link:hover {
  color: #fff !important;
  background-color: #0bb783 !important;
  border-color: #0bb783 !important;
}

.form-select {
  color: #0bb783 !important;
  font-weight: 500;
  background-color: #d7f9ef !important;
}

.disabled {
  background: #f8f8f8 !important;
}

.fw-50 {
  font-weight: 500;
}

.lh-0 {
  line-height: 0px;
}

.lh-min {
  line-height: 3px;
}

.btn-main {
  color: #0bb783;
  background-color: #d7f9ef;
  border-color: transparent;
}

.main-color {
  color: #0bb783;
}

.main-bg {
  background-color: #d7f9ef;
}

footer a:hover {
  color: #0bb783 !important;
}

.symbol-badge {
  margin: auto;
  width: 60px;
  height: 60px;
  background-image: url(https://preview.keenthemes.com/keen/theme/demo3/dist/assets/media/users/150-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.symbol-badge .symbol {
  width: 10px;
  height: 10px;
  background-color: #0bb783;
  border: 1px solid white;
  position: absolute;
  margin-top: 45px;
  margin-left: 20px;
  border-radius: 50%;
  z-index: 10;
}

.badge {
  color: #ffa800;
  background-color: #fff4de;
  border-radius: 5px;
  align-self: center;
}

.icon-mother {
  border-radius: 50%;
  color: #3b5998;
  background-color: rgba(59, 89, 152, 0.1);
  border-color: transparent;
}
.icon-mother:hover {
  color: #fff;
  background-color: #3b5998;
  border-color: transparent;
}

.icon-mother-google {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 50%;
  color: #dd4b39;
  background-color: rgba(221, 75, 57, 0.1);
  border-color: transparent;
}
.icon-mother-google:hover {
  color: #fff;
  background-color: #dd4b39;
  border-color: transparent;
}

.icon-mother-twitter {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 50%;
  color: #1da1f2;
  background-color: rgba(29, 161, 242, 0.1);
  border-color: transparent;
}
.icon-mother-twitter:hover {
  color: #fff;
  background-color: #1da1f2;
  border-color: transparent;
}

.nav-p {
  font-size: 16px;
}

.profile-ul .active-li {
  color: #0bb783 !important;
  background-color: #f3f6f9;
  border-radius: 15px;
}
.profile-ul .active-li a {
  color: #0bb783 !important;
}
.profile-ul li {
  margin-top: 10px;
  width: 220px;
}
.profile-ul li a {
  padding: 4px;
  border-radius: 10px;
}
.profile-ul li a p {
  font-weight: 500;
}
.profile-ul li a i {
  font-size: 17px !important;
}
.profile-ul li a:hover {
  color: #0bb783 !important;
  background-color: #f3f6f9;
}

.divider {
  width: 2.5px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 2px;
  background: #0bb783;
}

.quic-action {
  color: #7e7777;
}
.quic-action:hover {
  color: #0bb783;
  background-color: #d7f9ef;
  transition: 0.2s;
}

/*# sourceMappingURL=user-list-column-2.css.map */
