body {
  background: #cceef2;
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
.bg-light-success {
  color: #0bb783;
  background-color: #d7f9ef;
}
.progress {
  width: 250px;
  height: 10px;
}
.next-page,
.previous-page {
  color: #0bb783;
  background-color: #d7f9ef !important;
}
.page-link {
  background: #d7f9ef;
  border-radius: 10px !important;
  color: black !important;
  &:hover {
    color: #fff !important;
    background-color: #0bb783 !important;
    border-color: #0bb783 !important;
  }
}
.form-select {
  color: #0bb783 !important;
  font-weight: 500;
  background-color: #d7f9ef !important;
}
.disabled {
  background: rgb(248, 248, 248) !important;
}
.fw-50 {
  font-weight: 500;
}
.lh-0 {
  line-height: 0px;
}
.lh-min {
  line-height: 3px;
}
.btn-main {
  color: #0bb783;
  background-color: #d7f9ef;
  border-color: transparent;
}
.main-color {
  color: #0bb783;
}
.main-bg {
  background-color: #d7f9ef;
}
