.bg-header {
  background: #181c32;
}
nav {
  div {
    min-height: 80px;
  }
}
.a-icon:hover {
  background: rgb(107, 106, 106);
  i {
    color: rgb(226, 223, 223) !important;
  }
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 97;
  height: 77px;
}
.nav-color {
  color: #adb1c7 !important;
}
.creat-btn {
  color: #fff;
  background-color: #0bb783;
  border-color: #0bb783;
}
.logo {
  width: 100%;
  max-width: 450px;
}
.nav-link {
  color: #adb1c7 !important;
}
.divider {
  height: 40px;
  width: 0.1px;
}
.sec-1 {
  h4,
  h2 {
    cursor: pointer;
  }
}
h4 {
  &:hover {
    color: #0bb783 !important;
  }
  &::after {
    color: #0bb783 !important;
  }
}
.subheader {
  overflow: scroll;
  margin-top: 80px;
}
.subheader-span {
  width: 220px;
}
